<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">

      <!-- <h1 class='heading'>YOUR RECORD COLLECTION!</h1>-->
      <!-- the below will change the innerhtml when user logs in  -->
      <h1 class='heading'>
      <% if (currentUser) { %>
        <li><%= currentUser.username %>'s RECORD COLLECTION!</li>
        <li>
            <% } else { %>
<li>RECORD COLLECTION!</li>
            <% } %>
        </h1>

      <ul>
        <% for (let record of records ) { %>
          <li class='defaultList'>
              <img src="<%= record.coverArt%>" alt="Album Art Work">
              <br>
            <a class="recordDetails" href="/records/<%=record._id%>">
               <%= record.artist %>: <%= record.albumName %>
            </a>
          </li>
          <br>
          <br>
       <% } %>
      </ul>
    </div>
    <!-- why does the first part of footer link to show page -->
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
      
  </body>
  <style>
      body{
          background-color: black;
          font-family: 'Fjalla One', sans-serif;
      }
      .heading {
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-bottom: 59px;
        list-style: none;
     
      }
      .defaultList{
          background-color: black;
          color: white;
          font-family: 'Syne Mono', monospace;
      }
      
      img {
          max-width: 40%;
      }
      .recordDetails{
          color: white;
          text-decoration: underline;
      }
      .recordDetails:hover{
          color: #1DB954;
      }
      footer {
          text-decoration: none;
      }
  </style>
</html>