<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1><%=record.albumName%></h1>
      <h3><%=record.artist%></h3> 
      <h3><%=record.releaseDate%></h3>
      <h3><%=record.label%></h3>
      <h3><img src="<%= record.coverArt%>" alt="Album Art Work"></h3>
      <h3><%=record.tracklist%></h3>
      <% if(record.readyToShip === true) { %>
          This Record is ready to be Shipped!
      <% } else { %>
          This Record is Currently Unavailable.
      <% } %>
      <br>
      <button type="button" name="button"><a href="/records/<%=record._id%>/edit">Edit</a></button>
      <br>
      <br>
      <form action="/records/<%=record._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      <br>
      <button type="button" name="button">
        <a href="/records">Back</a>
      </button>
    </div>
  </body>
  <style>
    img{
      max-width: 50%;
    }
  </style>
</html>