<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1 class="albumName"><%=record.albumName%></h1>
      <h3 class="artist"><%=record.artist%></h3> 
      <h3><img src="<%= record.coverArt%>" alt="Album Art Work"></h3>
      <h3><span class="releaseDate">Released: </span><%=record.releaseDate%></h3>
      <h3><span class="label">Label: </span> <%=record.label%></h3>

     
      <% for (let i=0; i < record.tracklist.length; i++) { %>
        <li>
          <%= record.tracklist[i].number %>. <%= record.tracklist[i].name %> 
        </li>
      <% } %>
      <!-- tracklist loop????????? -->

      <div class="readyToShip">
        <% if(record.readyToShip === true) { %>
          This Record is ready to be Shipped!
      <% } else { %>
          This Record is Currently Unavailable.
      <% } %>
    </div>
      <br>
      <button type="button" name="button"><a href="/records/<%=record._id%>/edit">EDIT</a></button>
      <br>
      <br>
      <form action="/records/<%=record._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      <br>
      <button type="button" name="button">
        <a href="/records">BACK</a>
      </button>
    </div>
    <footer>
      <%- include ('../partials/footer.ejs') %>
    </footer>
  </body>
  <style>
    body {
      background-color: black;
      text-align: center;
      font-family: 'Fjalla One', sans-serif;
    }
    img{
      max-width: 50%;
    } 
    .albumName{
        font-family: 'Anton', sans-serif;
        font-size: 50px;
        text-align: center;
        margin-bottom: 59px;
        margin-top: 57px;
        margin-bottom: 31px;
    }
    .artist {
      font-size: 30px;
      margin-bottom: 31px;
    }
    h3 {
      font-size: 20px;
    }
    .releaseDate{
      font-size: 20px;
      margin-bottom: 10px;
      color: #1DB954;
    }
    .label {
      font-size: 20px;
      margin-bottom: 10px;
      color: #1DB954;
    }
    .tracklist{
      font-size: 20px;
      margin-bottom: 10px;
      color: #1DB954;
    }
    .readyToShip{
      color: #1DB954;
      margin-bottom: 10px;
    }
    button, input{
      text-decoration: none;
      padding:10px;
      border-radius: 24px;
    width: 20%;
    color: black;
    font-weight: bolder;
    }
    button:hover, input:hover{
    background-color: #1DB954;
    cursor: pointer;
    color: white;
    }
  
  </style>
</html>